@{
    ViewData["Title"] = "Login";
}

<h2 class="mb-3">Login</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<form asp-action="Login" method="post">
    <input type="email" name="Email" class="form-control mb-2" placeholder="Email" required />
    <input type="password" name="Password" class="form-control mb-2" placeholder="Password" required />
    <button type="submit" class="btn btn-success w-100">Login</button>
</form>
